
*{
    
    box-sizing: border-box;
}

.titulo{
width: 250px;
height: 300px;
display: flex;
justify-items: center;
align-items: center;
margin-left: 100px;
margin-top: 10px;
}

.informacion{
    font-family: 'Cinzel', serif;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left:  20px;
    margin-right: 40px;
}

.botonjugar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 100px;

}