
body{
    box-sizing: border-box;
    background: -webkit-linear-gradient(black,gold);
    background: -moz-linear-gradient(black,gold);
    background: -o-linear-gradient(black,gold);
}

.titulo{
width: 100%;
display: flex;
justify-content: flex-start;
align-items: center;


}

.informacion{
    font-family: 'Cinzel', serif;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    margin-left:  50px;
    margin-right: 150px;
    
    font-size: 32px;
 }  

.botonjugar{
    display: flex;
    justify-content: flex-end;
   
    margin-bottom: 100px;
   

}